//- - - ARCHIVE PAGES
.page-header {
	padding: 15px;
    margin-bottom: 2em;
    list-style-type: none;
    background: $lightGray;
    color: $charcoal;
    h1 { 
    	margin: 0;
    	font-family: $fontTitle;
    	font-weight: normal;
    }
}

.page-header {
    margin-top: 1em;
    margin-bottom: 1em;
}

.taxonomy-description {
    padding-top: 10px;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    border-top: 1px solid $darkGray;
    p {
    	margin: 0;
    	padding-bottom: 10px;
    }
}

// - - - THE REST
.content-area {
	float: left;
	margin: 0 (-$size__site-sidebar) 0 0;
	width: $size__site-main;
}

.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: $size__site-sidebar;
}

.site-footer {
	clear: both;
	width: $size__site-main;
}

.entry-content {
	padding: 1em;
}

.tag-links,
.post-navigation,
.posts-navigation,
.comments-area,
.paging-navigation {
    position: relative;
    max-width: 75%;
    padding: 0 2rem;
    margin: 0 auto;
} // set all widths equal

.posts-navigation,
.post-navigation {
	background: $black;
	margin-bottom: 1em;
	padding: 20px;
	a {
		font-family: $fontTitle;
		color: $white;
		font-size: 18px;
	}
	.nav-links {
		.nav-previous {
			&:before {
				font-family: 'fontawesome';
				color: $white;
				font-size: 18px;
				content: '\f100';
				margin-right: 5px;
			}// &:before
		}// .nav-previous
		.nav-next {
			&:after {
				font-family: 'fontawesome';
				color: $white;
				font-size: 18px;
				content: '\f101';
				margin-left: 5px;
			}// &:before
		}// .nav-next

	}// .nav-links
}// .posts-navigation

.site-content {
	background: $darkGray url(images/pattern.svg) repeat;
}

@media screen and (min-width: 1160px){
	.site-main {
		margin: 0 $size__site-sidebar 0 0;
	}
}

@media screen and (max-width: 1159px) {
	.content-area {
		float: none;
	}
	.site-main {
		margin: 0 auto;
		width: auto;
	}
	.site-content .widget-area {
		display: block;
        width: auto;
        max-width: 650px;
        float: none;
        margin: 1em auto 0;
    }
}
