/* Blockquotes */
blockquote {
    padding: 1em 1.5em 0;
    margin-bottom: 1em;
    font-style: italic;
    border-top: solid 1px hsl(0, 0%, 80%);
    border-bottom: solid 1px hsl(0, 0%, 80%);
}

blockquote em { 
    font-style: normal; 
}

blockquote cite {
    display: block;
    margin-top: 1em;
    margin-left: 40%;
    font-size: 18px;
    font-size: 1.8rem;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    line-height: 1.5em;
    text-align: right;
}

blockquote.alignleft {
    width: 50%;
    float: left;
    padding: 1em 0 0;
    margin-right: 2em;
}

blockquote.alignright {
    width: 50%;
    float: right;
    padding: 1em 0 0;
    margin-left: 2em;
}

/* Blockquotes responsive */
/* Optional rules that set blockquotes to full width on smaller screens */
@media screen and (max-width: 780px) {
    blockquote.alignleft,
    blockquote.alignright { width: 40%; }
}

@media screen and (max-width:600px) {
    blockquote.alignleft,
    blockquote.alignright {
        width: 100%;
        padding: 1em 1.5em 0;   
    }
}

/* Alignment responsive */
@media screen and (min-width: 1320px) {
    .alignleft {
        margin-left: -60px; 
    }
    .single .alignleft {
    	margin-left: 0;
    }
}

@media screen and (min-width: 1320px) {
    .alignright { 
        margin-right: -60px; 
    }
    .single .alignright {
    	margin-right: 0;
    }
}