.site-header {
	position: relative;
	width: 100%;
	z-index: 10000;
}
// CUSTOM HEADER IMAGE
.header-image img {
    display: block;
    margin: 0 auto;
}

.header-background-image {
    background: no-repeat center;
    background-size: cover!important;
    -moz-background-size: cover!important;
    -webkit-background-size: cover!important;
}

.header-background-image .title-box {
    background: #333;
    background: hsla(0, 0%, 0%, .7);
}
// END CUSTOM HEADER IMAGE

.site-branding {
	text-align: center;
	background: $darkGray;
	vertical-align: middle;
	display: inline-block;
	width:100%;
	// @media screen and (max-width: 600px){
	// 	border-bottom: 2px solid $green;
	// }
	.title-box {
		background: rgba(lighten($aqua,5%),.5);
		position: relative;
		max-width: 100%;
		height: 250px;
		margin: 50px auto;
		padding: 0;
	}
	.site-title {
		margin: 0;
		@media screen and (min-width:720px){
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 20%;
		}// min-width: 720px
		@media screen and (max-width:719px){
			img {
				margin-top: 20px;
				margin-bottom: 20px;
			}
		}
	}// .site-title

	.site-description {
		color: $white;
		font-family: $fontTitle;
		font-weight: 300;
		text-transform: uppercase;
		margin: 0;
		@media screen and (min-width:720px){
			font-size: 36px;
			line-height: 40px;
			width: 30px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 30%;
		}
		
	}// .site-description
	
	.fa-search {
		transition: all .25s linear;
			color: #fff;
			background: $green;
			position: absolute;
			top: 350px;
			right: 0;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			text-align: center;
			vertical-align: middle;
			line-height: 40px;
			margin: 5px 20px 0 0;
			cursor: pointer;
			&:hover {
				background: $white;
				color: $green;
			}
		}// .fa-search
}// site-branding

		#search-container {
		    width: 100%;
		    display:none;
		}

		.search-box {
		    @include stripesDiag($green, darken($green, 5%));
		}

		.search-box .search-field {
		    width: 360px;
		    float: right;
		    clear:both;
		    padding: 7px 10px;
		    font-size: 16px;
		    font-family: 'Lato';
		    font-style: italic;
		    background-color: #fff;
		    margin:1em;
		    border: 0;
		    @media screen and (max-width: 660px){
		    	float: left;
		    	width:310px;
		    }
		}