body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";

@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700|Lato:400,400italic,700|Amatic+SC:400,700);

$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$fontContent: 'Lato';
$fontTitle: 'Oswald';
$fontLogo: 'Amatic SC';