.site-footer {
    padding: 2em;
    font-family: $fontContent;
    font-size: 16px;
    color: $white;
    background: $charcoal;
}

.site-footer a {
    color: $white;
    text-decoration: underline;
}

.site-info { 
    text-align: center; 
}
#footer-widgets {
	background: $charcoal;
}

/* Footer widgets responsive */
@media screen and (max-width: 879px) {
    #footer-widgets { width: 100%!important; }
    
    .footer-widgets .widget {
        float: none;
        width: 100%;
        margin: 0 0 8rem;
    }
}