.main-navigation {
	position: relative;
	float: left;
	width: 100%;
	display: block;
	clear: both;
	font-family: $fontTitle;
	font-weight: 300;
	text-transform: uppercase;
	background: $charcoal;
	text-align: center;
	.menu {
	    display: table;
	    margin: 0 auto;
	}

	ul {
		list-style: none;
		margin: 0;
   		padding-left: 0;

		ul {
			float: left;
			position: absolute;
			left: -999em;
			z-index: 99999;
			background: $lightGray; // first-level drop-down bg-color


			a{
				color: $charcoal; // first-level drop-down font color
			} // ul ul a

			ul {
				left: -999em;
				top: 0;
				background: $green; // second-level drown-down bg-color
	
				a:hover { // second-level drop-down hover colors
					background: lighten($green,10%) !important;
					// color: $aqua;
				}
				li {
					border-top: none;
				}
			} // ul ul ul

			li {
				border-top: 1px solid $darkGray;
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
				&:hover > a,
				&.focus >a {
					background: $green; // first-level drop-down hover bg-color
				}
			} // ul ul li
		} // ul ul

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}		
	}// ul

	li {
		float: left;
		position: relative;
		&:hover > a,
		&.focus > a { //top-level hover colors ** cascades down throughout levels **
			background: $lightGray;
			color: $charcoal; 
		}
		&:last-child {
			border-right: none;
		}
	} // li

	a {
		display: block;
		padding: 5px 30px;
		font-size: 16px;
		text-decoration: none;
		color: $lightGray;
		@media screen and (max-width:660px) {
	   		font-size: 20px;
	   }
	} // a

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $charcoal;
		background: $aqua;
	}
} // .main-navigation

@media screen and (max-width: 660px) {
	.menu {
		width: 100%;
	}

	.menu-toggle {
		display: inline-block;
		float: left;
      height: 50px;
      width: 50px;
      margin: 10px;
      border-radius: 3px;
      background: $green;
      box-shadow: none;
      &:hover {
      	box-shadow: none;
      	background: $green;
      }
		i {
         	text-align: center;
         	vertical-align: middle;
            font-weight: normal;
            font-size: 24px;
            font-weight: normal;
            color: white;
            
         }// i
	} // .menu-toggle
        
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
            display: none;
            padding-left: 0;
            ul {
            	position: relative;
					top: inherit;
					left: 0;
					display: block;
					float: none;
					ul {
						position: relative;
						top: inherit;
						left: 0;
						display: block;
						float: none;

					}
            }
	}
        
	.main-navigation li { 
		float: none; 
	}
}// max-width 600px

@media screen and (min-width:661px) {
	.menu-toggle,
	.main-navigation.toggled ul {
		display: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}