.navbar {
	margin-bottom: 0;
	border-radius: 0;
	a {
		font-family: $fontTitle;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 300;
		@media screen and (min-width:874px){
			font-size: 16px;
		}
		@media screen and (max-width:767px){
			font-size: 24px;
		}
	}// a
	@media screen and (min-width:930px){
			padding: 0 25px;
	}
	@media screen and (min-width:1152px){
			padding: 0 10%;
	}
	.navbar-brand {
		transition: all .5s ease-in-out;
		width: 190px;
		opacity: 0;
		padding-top: 10px;
		padding-right: 0;
	}
}// navbar
.nav>li>a {
	padding-left: 10px;
}
.navbar-inverse .navbar-nav>li>a .active {
	background: $black;
	color:$white;
}

.stickynav {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
}