// - - - RESPOND
.comment-respond {
    background: $lightGray;
    padding: 15px;
    margin-top: 1em;
}

.comment-reply-title {
    font-family: $fontTitle;
}

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
.comment-navigation {
    padding: 1em 0;
    margin: 3em 0;
    border-top: hsl(0, 0%, 80%) solid 1px;
    border-bottom: hsl(0, 0%, 80%) solid 1px;  
}

.comment-navigation i {
    margin: 0 1em;
}

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
.comments-title {
    font-size: 24px;
    color: $white;
    background: $lightGray;
    margin-bottom: 0;
    text-align: center;
}

.comments-area > ol {
    padding: 1em;
    margin: 2em 0;
    margin-top: 0;
    list-style-type: none;
    background: $white;
    border-left: 5px solid $lightGray;
}

ol.children { list-style-type: none; }

.comment-list ol { margin-left: 50px; }

.comment-meta { margin-bottom: 1em; }

.comment-author .avatar {
    width: 50px;
    display: block;
    float: left;
    margin-right: 20px;
}

.comment-author .fn {
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.comment-metadata {
    font-size: 14px;
}

.comment-content { font-size: 90%; }

.comment-content,
.reply { margin-left: 70px; }

.comment-body {
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom: solid hsl(0, 0%, 80%) 1px;
}

.comment-content a {
	word-wrap: break-word;
}

.comment-content ol { margin-left: 1.5em; }

.reply {
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

/* Comments responsive */
@media screen and (max-width:600px) {    
    .comment-list ol { margin-left: 0; }
    
    .comment-content ol { margin-left: 1.5em; }
    
    .comment-content,
    .reply { margin-left: 0; }
}
// Author Comment
.bypostauthor > .comment-body {
    position: relative;
    padding: 1em;
    margin-bottom: 2em;
    background: hsl(0, 0%, 93%);
    border: none;
}

// Comment Form
.comment-reply-title {
    margin-bottom: .5em;
    font-weight: 900;
    font-size: 30px;
}

.comment-form {
    padding-bottom: 4rem;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.comment-form textarea {
    font-family: 'PT Serif', serif;
    font-size: 18px;
}

.comment-form label { display: block; }

.required { color: red; }

.comment-awaiting-moderation { /* Green background color to make moderation seem less aggressive */
    padding: .5rem 1rem;
    margin: 1rem 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #fff;
    color: hsl(0, 0%, 100%);
    background: #84bd68;
    background: hsl(100, 39%, 57%);
}