// - - - STICKY
.sticky-post {
    position: absolute;
    top: .5em;
    right: 1em;
    color: red;
    font-size: 30px !important;
}

// - - - SINGLE POST & PAGE STYLES
.single, .page {
	.entry-content {
		padding: 2em;
		padding-top: 0;
		@media screen and (max-width: 675px){
			padding: 15px;
			padding-top: 0;
		}
	}
}
.single .post,
.page .page {
	max-width: 100%;
	margin: 0;
	margin-right: 10px;
	padding-top: 0;
	@media screen and (max-width: 1159px){
		margin: 0 auto;
		max-width: 880px;
	}
}
.single .entry-title,
.page .entry-title {
	font-size: 46px;
	line-height: 46px;
	padding: 0 15px;
	margin-bottom: 10px;
	@media screen and (max-width: 675px) {
			padding: 0 5px;
			font-size: 36px;
			line-height: 36px;
		}
}
.single {
	.hentry .title-block {
		margin-left: 0;
		padding-top: 1em;
	}
	.hentry .title-block .category-author {
		font-size: 24px;
		padding: 0 20px;
		line-height: 24px;
		@media screen and (max-width: 675px) {
			padding: 0 10px;
			font-size: 18px;
			line-height: 18px;
		}
	}
	.post-navigation {
		max-width: 100%;
		margin-right: 10px;
		margin-top: 10px;
		@media screen and (max-width: 1159px){
		margin: 0 auto;
		margin-top: 10px;
		max-width: 880px;
		}
	}// .post-navigation
}// .single
.page .entry-title {
	color: $black;
	font-family: $fontTitle;
}

// - - - GENERAL STYLES
.blog-header {
	width: 100%;
	min-height: 100px;
	background: $black;
	color: $white;
	display: table;
	.blog-container {
		// display: table-cell;
		display: block;
    	position: relative;
    	max-width: 750px;
    	height: 100px;
    	padding: 0;
    	margin: 0 auto;
		h1 {
			display: inline-block;
			position: absolute;
			bottom: 0;
			margin: 0;
			padding: 0;
			margin-left: 20px;
			text-transform: uppercase;
			font-family: $fontTitle;
			font-weight: 400;
			font-size: 50px;
			line-height: 45px;
		}// h1
		img {
			display: inline-block;
			margin-left: 10px;
		}
	} //blog container
} // blog header

.sticky {
	display: block;
}

.hentry {
	margin: 20px auto;
	width: auto;
	max-width: 750px;
	@media screen and (min-width: 1500px){
		max-width: 950px;
	}
	background: $white;
	position: relative;
	.entry-header {
		padding: 5px;
	}
	.date-block {
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		text-align: center;
		background: $aqua;
		margin: 0;
		padding: 1em;
		width: 75px;
		height: 75px;
		a {
			text-decoration: none;
			text-transform: uppercase;
			color: $white;
			font-size: 20px;
			line-height: 12px;
			font-weight: 700;
		}// a
	}// .date-block
	.title-block {
		display: inline-block;
		margin-left: 80px;
		height: 65px;
		.entry-title {
			display: inline-block;
			margin: 0;
			// margin-top: 10px;
			text-transform: uppercase;
			font-family: $fontTitle;
			a {
				color: $black;
				text-decoration: none;
				font-weight: 400;
			}
		}// .entry-title
		.category-author {
			display: block;
			font-family: 'Lato';
			font-style: italic;
			font-weight: 300;
			font-size: 18px;
			a {
				color: $green;
				text-decoration: none;
				font-weight: 400;
				&:hover {
					text-decoration: underline;
				}
			}
		}// .category-author
	}// .title-block
	.entry-footer {
		ul {
			list-style-type: none;
			margin: 0;
			margin-left: 15px;
			padding: 0 0 15px 0;
			li {
				display: inline-block;
				margin: 0 15px;
				i {
					font-size: 20px;
					color: $green;
				}
				a {
					font-family: $fontTitle;
					color: $black;
					margin-left: 5px;
					text-decoration: none;
					text-transform: uppercase;
				}
			}// li
		}// ul
		.comments {
			text-align: right;
			display: block;
			width: 100%;
			background: $charcoal;
			margin: 0;
			padding: 10px 15px;
			a {
				color: $green;
				text-decoration: none;
				&:hover {
					font-style: italic;
				}
			}
			.has-comment {
				&:before {
					font-family: 'fontawesome';
					content: '\f075';
					margin-right: 10px;
				}
			}
		}
	}// .entry-footer
}// .hentry

.entry-title {
	a {
		text-decoration: none;
		text-transform: uppercase;
		font-family: $fontTitle;
		color: $black;
	}
}// entry-title



.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}